<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="toplev.com.skyhookaccountability">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
            android:name=".support.App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity android:name=".activity.auth.Main2Activity"></activity>
        <activity android:name=".activity.claim.ClaimInfoActivity" />
        <activity android:name=".activity.auth.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.claim.Activity.AddNewActivity" />
        <activity android:name=".activity.claim.Activity.ActivityDetailActivity" />
        <activity android:name=".activity.claim.ClaimDetailActivity" />
        <activity android:name=".activity.auth.BeginAuthActivity" />
        <activity android:name=".activity.auth.EnableLocationActivity" />
        <activity android:name=".activity.main.MainActivity" />

        <service
                android:name=".support.BackgroundForegroundLocationService"
                android:enabled="true"
                android:exported="false"
                android:foregroundServiceType="location" />
    </application>

</manifest>